In [22]:
import pandas as pd 
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [23]:
# ajuste casas decimais 
pd.options.display.float_format = '{:,.2f}'.format

In [24]:
#leitura e visualização dos dados

base = pd.read_csv('Base_Dados - Operacoes Uniao.csv', encoding='latin1', sep=';')

In [25]:
# alterações na base
# tratamento nas colunas

base.columns = [Loop.replace(' ', '_') for Loop in base.columns]
base.columns

Index(['Interessado', 'UF', 'Tipo_de_interessado', 'Tipo_de_operação',
       'Finalidade', 'Tipo_de_credor', 'Credor', 'Moeda', 'Valor',
       'Número_do_Processo/PVL', 'Código_IBGE', 'Status', 'Data',
       'Analisado_por'],
      dtype='object')

In [26]:
base.dtypes

Interessado                object
UF                         object
Tipo_de_interessado        object
Tipo_de_operação           object
Finalidade                 object
Tipo_de_credor             object
Credor                     object
Moeda                      object
Valor                      object
Número_do_Processo/PVL     object
Código_IBGE               float64
Status                     object
Data                       object
Analisado_por              object
dtype: object

In [27]:
# tratamento nos valores decimais

base.Valor = base.Valor.apply( lambda Loop : Loop.replace('.', '') )
base.Valor = base.Valor.apply( lambda Loop : Loop.replace(',', '.') )
base.Valor = pd.to_numeric( base.Valor )

base.Valor.head()

0     300,000.00
1     172,700.00
2     300,000.00
3     187,200.00
4   1,000,000.00
Name: Valor, dtype: float64

In [28]:
# tratamento nas datas

base.Data = pd.to_datetime( base.Data )

In [29]:
base.head()

,Interessado,UF,Tipo_de_interessado,Tipo_de_operação,Finalidade,Tipo_de_credor,Credor,Moeda,Valor,Número_do_Processo/PVL,Código_IBGE,Status,Data,Analisado_por
0,Abadia dos Dourados,MG,Município,Operação Contratual Interna,Provias 2009,Instituição Financeira Nacional,Caixa Econômica Federal,Real,"300,000.00",00000.000000/0021-94,"3,100,104.00",Devolvido,2009-08-19,STN
1,Abadia dos Dourados,MG,Município,Operação Contratual Interna,Caminho da Escola,Instituição Financeira Nacional,Caixa Econômica Federal,Real,"172,700.00",17944.000104/2008-22,"3,100,104.00",Arquivado,2008-04-17,STN
2,Abadia dos Dourados,MG,Município,Operação Contratual Interna,Provias 2009,Instituição Financeira Nacional,Caixa Econômica Federal,Real,"300,000.00",17944.000953/2009-67,"3,100,104.00",Deferido,2009-11-20,STN
3,Abadia dos Dourados,MG,Município,Operação Contratual Interna,Caminho da Escola 2009 A,Instituição Financeira Nacional,Caixa Econômica Federal,Real,"187,200.00",17944.001037/2009-44,"3,100,104.00",Deferido,2009-11-20,STN
4,Abadia dos Dourados,MG,Município,Operação Contratual Interna,"Aquisição de máquinas, equipamentos e veículos",Instituição Financeira Nacional,Banco de Desenvolvimento de Minas Gerais S/A,Real,"1,000,000.00",17944.001324/2013-31,"3,100,104.00",Deferido,2013-06-11,STN

In [30]:
# adição da coluna Região para complementar a coluna UF

uf_to_regiao = {
    'AC': 'Norte',
    'AL': 'Nordeste',
    'AM': 'Norte',
    'AP': 'Norte',
    'BA': 'Nordeste',
    'CE': 'Nordeste',
    'DF': 'Centro-Oeste',
    'ES': 'Sudeste',
    'GO': 'Centro-Oeste',
    'MA': 'Nordeste',
    'MG': 'Sudeste',
    'MS': 'Centro-Oeste',
    'MT': 'Centro-Oeste',
    'PA': 'Norte',
    'PB': 'Nordeste',
    'PE': 'Nordeste',
    'PI': 'Nordeste',
    'PR': 'Sul',
    'RJ': 'Sudeste',
    'RN': 'Nordeste',
    'RO': 'Norte',
    'RR': 'Norte',
    'RS': 'Sul',
    'SC': 'Sul',
    'SE': 'Nordeste',
    'SP': 'Sudeste',
    'TO': 'Norte'
}

base['Região'] = base.UF.map( uf_to_regiao  )
base.head()

,Interessado,UF,Tipo_de_interessado,Tipo_de_operação,Finalidade,Tipo_de_credor,Credor,Moeda,Valor,Número_do_Processo/PVL,Código_IBGE,Status,Data,Analisado_por,Região
0,Abadia dos Dourados,MG,Município,Operação Contratual Interna,Provias 2009,Instituição Financeira Nacional,Caixa Econômica Federal,Real,"300,000.00",00000.000000/0021-94,"3,100,104.00",Devolvido,2009-08-19,STN,Sudeste
1,Abadia dos Dourados,MG,Município,Operação Contratual Interna,Caminho da Escola,Instituição Financeira Nacional,Caixa Econômica Federal,Real,"172,700.00",17944.000104/2008-22,"3,100,104.00",Arquivado,2008-04-17,STN,Sudeste
2,Abadia dos Dourados,MG,Município,Operação Contratual Interna,Provias 2009,Instituição Financeira Nacional,Caixa Econômica Federal,Real,"300,000.00",17944.000953/2009-67,"3,100,104.00",Deferido,2009-11-20,STN,Sudeste
3,Abadia dos Dourados,MG,Município,Operação Contratual Interna,Caminho da Escola 2009 A,Instituição Financeira Nacional,Caixa Econômica Federal,Real,"187,200.00",17944.001037/2009-44,"3,100,104.00",Deferido,2009-11-20,STN,Sudeste
4,Abadia dos Dourados,MG,Município,Operação Contratual Interna,"Aquisição de máquinas, equipamentos e veículos",Instituição Financeira Nacional,Banco de Desenvolvimento de Minas Gerais S/A,Real,"1,000,000.00",17944.001324/2013-31,"3,100,104.00",Deferido,2013-06-11,STN,Sudeste

In [31]:
base['Ano'] = base.Data.dt.year
base['Mes'] = base.Data.dt.month
base['Dia'] = base.Data.dt.day
base.head()

,Interessado,UF,Tipo_de_interessado,Tipo_de_operação,Finalidade,Tipo_de_credor,Credor,Moeda,Valor,Número_do_Processo/PVL,Código_IBGE,Status,Data,Analisado_por,Região,Ano,Mes,Dia
0,Abadia dos Dourados,MG,Município,Operação Contratual Interna,Provias 2009,Instituição Financeira Nacional,Caixa Econômica Federal,Real,"300,000.00",00000.000000/0021-94,"3,100,104.00",Devolvido,2009-08-19,STN,Sudeste,2009,8,19
1,Abadia dos Dourados,MG,Município,Operação Contratual Interna,Caminho da Escola,Instituição Financeira Nacional,Caixa Econômica Federal,Real,"172,700.00",17944.000104/2008-22,"3,100,104.00",Arquivado,2008-04-17,STN,Sudeste,2008,4,17
2,Abadia dos Dourados,MG,Município,Operação Contratual Interna,Provias 2009,Instituição Financeira Nacional,Caixa Econômica Federal,Real,"300,000.00",17944.000953/2009-67,"3,100,104.00",Deferido,2009-11-20,STN,Sudeste,2009,11,20
3,Abadia dos Dourados,MG,Município,Operação Contratual Interna,Caminho da Escola 2009 A,Instituição Financeira Nacional,Caixa Econômica Federal,Real,"187,200.00",17944.001037/2009-44,"3,100,104.00",Deferido,2009-11-20,STN,Sudeste,2009,11,20
4,Abadia dos Dourados,MG,Município,Operação Contratual Interna,"Aquisição de máquinas, equipamentos e veículos",Instituição Financeira Nacional,Banco de Desenvolvimento de Minas Gerais S/A,Real,"1,000,000.00",17944.001324/2013-31,"3,100,104.00",Deferido,2013-06-11,STN,Sudeste,2013,6,11

In [32]:
base.describe( include='all' ).transpose()

C:\Users\giova\AppData\Roaming\Python\Python37\site-packages\ipykernel_launcher.py:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  """Entry point for launching an IPython kernel.

,count,unique,top,freq,first,last,mean,std,min,25%,50%,75%,max
Interessado,25891,3948,São Paulo,122,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
UF,25891,27,MG,4954,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tipo_de_interessado,25891,3,Município,24697,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tipo_de_operação,25891,6,Operação Contratual Interna,24168,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Finalidade,25891,82,Infraestrutura,9871,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Tipo_de_credor,25891,7,Instituição Financeira Nacional,23998,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Credor,25891,137,Caixa Econômica Federal,6904,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Moeda,25891,5,Real,25226,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Valor,"25,891.00",NaN,NaN,NaN,NaT,NaT,"47,485,866.33","1,696,002,998.11",0.00,"503,879.00","1,470,441.00","5,000,000.00","223,539,966,235.09"
Número_do_Processo/PVL,25891,25891,00000.000000/0021-94,1,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Código_IBGE,"25,876.00",NaN,NaN,NaN,NaT,NaT,"3,523,913.48","1,063,496.11",11.00,"3,132,404.00","3,553,979.00","4,209,607.00","5,222,302.00"
Status,25891,28,Deferido,12641,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Data,25891,4096,2008-09-15 00:00:00,68,2002-01-06,2024-12-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Analisado_por,25891,2,STN,20336,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Região,25891,5,Sul,11537,NaT,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Ano,"25,891.00",NaN,NaN,NaN,NaT,NaT,"2,013.71",6.08,"2,002.00","2,008.00","2,013.00","2,019.00","2,024.00"
Mes,"25,891.00",NaN,NaN,NaN,NaT,NaT,6.77,3.26,1.00,4.00,7.00,10.00,12.00
Dia,"25,891.00",NaN,NaN,NaN,NaT,NaT,17.09,8.65,1.00,10.00,17.00,25.00,31.00

In [33]:
base.Interessado.value_counts( normalize=True ).cumsum()

São Paulo                0.00
Rio de Janeiro           0.01
Ceará                    0.01
Bahia                    0.02
Belo Horizonte           0.02
                         ...
Barra de São Miguel      1.00
Passabém                 1.00
Barra de Santo Antônio   1.00
São Braz do Piauí        1.00
Crisópolis               1.00
Name: Interessado, Length: 3948, dtype: float64

In [34]:
base.UF.value_counts( normalize=True )

MG   0.19
PR   0.18
RS   0.15
SP   0.13
SC   0.12
BA   0.05
GO   0.02
CE   0.02
MT   0.02
RJ   0.01
PE   0.01
MS   0.01
ES   0.01
PI   0.01
TO   0.01
PA   0.01
RO   0.01
MA   0.01
RN   0.01
PB   0.01
SE   0.01
AL   0.00
AM   0.00
AC   0.00
DF   0.00
RR   0.00
AP   0.00
Name: UF, dtype: float64

In [35]:
base.Região.value_counts( normalize=True )

Sul            0.45
Sudeste        0.35
Nordeste       0.12
Centro-Oeste   0.06
Norte          0.03
Name: Região, dtype: float64

In [36]:
base.Tipo_de_interessado.value_counts()

Município          24697
Estado              1179
Empresa Estatal       15
Name: Tipo_de_interessado, dtype: int64

In [38]:
base.Tipo_de_operação.value_counts()

Operação Contratual Interna                            24168
Operação Contratual Interna (com garantia da União)     1048
Operação Contratual Externa (com garantia da União)      598
Concessão de garantia                                     68
Operação Contratual Externa                                8
Emissão de Títulos Públicos                                1
Name: Tipo_de_operação, dtype: int64

In [39]:
pd.DataFrame( base.Finalidade.value_counts( normalize=True ).cumsum() ).head(10)

                                                    Finalidade
Infraestrutura                                            0.38
Aquisição de máquinas, equipamentos e veículos            0.52
Provias                                                   0.57
PAC 2 - Pró-Transporte - Pavimentação e Qualifi...        0.61
Aquisição de terrenos, imóveis e/ou construção ...        0.64
PMAT                                                      0.67
Caminho da Escola 2                                       0.69
Saneamento básico                                         0.72
Multissetorial                                            0.74
Caminho da Escola                                         0.76

In [40]:
base.Tipo_de_credor.value_counts()

Instituição Financeira Nacional         23998
Instituição Financeira Internacional      636
Empresa Estatal                           569
Empresa Não Estatal                       422
Outras                                    203
União                                      41
Outro - Pessoa Física                      22
Name: Tipo_de_credor, dtype: int64

In [41]:
base.Credor.value_counts( normalize=True ).cumsum().head(15)

Caixa Econômica Federal                                   0.27
Banco do Brasil S/A                                       0.45
Agência de Fomento do Paraná S/A                          0.58
Banco de Desenvolvimento de Minas Gerais S/A              0.71
Agência de Fomento do Estado de Santa Catarina S/A        0.76
BADESUL Desenvolvimento S.A. - Agência de Fomento/RS      0.81
Agência de Fomento do Estado de São Paulo                 0.84
Banco Nacional de Desenvolvimento Econômico e Social      0.86
Banco Regional de Desenvolvimento do Extremo Sul          0.88
Agência de Fomento do Estado da Bahia S/A                 0.90
Banco do Estado do Rio Grande do Sul                      0.92
Banco Interamericano de Desenvolvimento                   0.93
Pessoa Jurídica                                           0.94
Banco Internacional para Reconstrução e Desenvolvimento   0.94
Companhia Paranaense de Energia                           0.95
Name: Credor, dtype: float64

In [42]:
base.Status.value_counts( normalize=True ).cumsum()

Deferido                                                0.49
Deferido (PVL-IF)                                       0.70
Arquivado                                               0.77
Devolvido                                               0.84
Arquivado por decurso de prazo                          0.89
Encaminhado à PGFN com manifestação técnica favorável   0.93
Regularizado                                            0.96
Arquivado a pedido                                      0.97
Em retificação pelo interessado                         0.98
Em análise                                              0.98
Indeferido                                              0.99
Arquivado por decurso de prazo (PVL-IF)                 0.99
Arquivado a pedido (PVL-IF)                             0.99
Em retificação pelo interessado (PVL-IF)                0.99
Em retificação pelo credor                              0.99
Em retificação pelo credor (PVL-IF)                     0.99
Encaminhado à PGFN (decisão judicial)                   0.99
Cancelado                                               1.00
Pendente de regularização                               1.00
Em análise (PVL-IF)                                     1.00
Deferido (decisão judicial)                             1.00
Arquivado pela STN                                      1.00
Assinado pelo interessado (retificação)                 1.00
Regular por decisão judicial                            1.00
Indeferido (PVL-IF)                                     1.00
PVL cancelado                                           1.00
Enviado à instituição financeira (PVL-IF)               1.00
Em consulta jurídica                                    1.00
Name: Status, dtype: float64

In [43]:
base.Ano.value_counts().sort_index()

2002     549
2003     429
2004     776
2005     202
2006    1041
2007    1388
2008    2097
2009    1013
2010    1834
2011    1330
2012    1251
2013    1627
2014    1377
2015     613
2016     716
2017     786
2018    1228
2019    1780
2020    1026
2021    1232
2022    1383
2023    1590
2024     623
Name: Ano, dtype: int64